@-webkit-keyframes float-x {
	0%   {
		position: relative;
		right: 2%;
		top: 10%;
	}
	100% {
		position: relative;
		right: 12%;
		top: 1%;
	}
}
@-moz-keyframes float-x {
	0%   {
		position: relative;
		right: 2%;
		top: 10%;
	}
	100% {
		position: relative;
		right: 12%;
		top: 1%;
	}
}
@-ms-keyframes float-x {
	0%   {
		position: relative;
		right: 2%;
		top: 10%;
	}
	100% {
		position: relative;
		right: 12%;
		top: 1%;
	}
}
@-o-keyframes float-x {
	0%   {
		position: relative;
		right: 2%;
		top: 10%;
	}
	100% {
		position: relative;
		right: 12%;
		top: 1%;
	}
}
@keyframes float-x {
	0%   {
		position: relative;
		right: 2%;
		top: 10%;
	}
	100% {
		position: relative;
		right: 12%;
		top: 1%;
	}
}