/*
    Created by: Chloe Kaian Lam
*/

@import "normalize";
@import "typography";
@import "variables";
@import "css3";
@import "animation";

body {
  width: 100%;
  height: 100%;
  font-size: 28px;
}

.portfolio {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.home, .projects, .love, .contact, .client {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home {
  top: 0;
  background: url(../image/background/home-bg.png) no-repeat center @blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  p { color: #009bab; }
}

.air-balloon {
  width: 30%;
  max-width: 500px;
  position: absolute;
  top: 10%;
  right: 5%;
  .animation(10s ease-in-out float-x infinite alternate);

  img {
    width: 100%;
    height: auto;
  }
}

.projects {
  top: 100%;
  background: url(../image/background/projects-bg.png) no-repeat center @yellow;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  p { color: #cba700; }
}

.love {
  top: 200%;
  background: @orange;

  p { color: #faa99a; }
}

.contact {
  top: 300%;
  background: @lime;

  p { color: #92a114; }
}

.client {
  top: 400%;
  background: @purple;

  p { color: #705674; }
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.content {
  width: 65%;
  margin: 0 5% 0 0;
}


@media (max-width: 1000px) {}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
