/*

    Author: Chloe Kaian Lam - @ChloeKaianLam

    Email: hello@chloekaianlam.com

*/

@import "normalize";
@import "typography";
@import "variables";
@import "css3";
@import "animation";

/*---------------------------------------------------------------------------
                                BASE LAYOUT
---------------------------------------------------------------------------*/

body {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  background: @rice;
}

.main-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  background: @grey;
  z-index: 500;

  >ul {
    list-style: none;
    float: right;
    margin: 0;

    li {
      float: left;
      margin: .5em 1.3em 0 0;
      font-size: 1.2em;
    }
  }
}

.content {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0 0;
}

.badge {
  width: 200px;
  height: 100%;
  position: absolute;
  background-attachment: fixed;
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: 200px 235px;
  z-index: 500;
}

.second {
  margin-top: -8%;
  background-image: url('../image/badges/javascript-badge.png');
}

.third {
  margin-top: -35%;
  background-image: url('../image/badges/html-badge.png');
}

/*---------------------------------------------------------------------------
                                    ABOUT
---------------------------------------------------------------------------*/

.about {
  max-width: 100%;
  height: 100%;
  min-height: 600px;
  background: url('../image/background/clouds.png') bottom no-repeat @blue;

  .intro { 
    color: @darken-blue;
    text-align: center;
  }

  .first {
    height: 120%;
    background-image: url('../image/badges/css-badge.png');
  }
}

.air-balloon {
  width: 25%;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  top: 0;
  .animation(10s ease-in-out floating-balloon infinite alternate);

  img {
    width: 100%;
    height: auto;
  }
}

/*---------------------------------------------------------------------------
                                  PROJECT
---------------------------------------------------------------------------*/

.projects {

  max-width: 100%;
  height: auto;
  min-height: 100%;
  display: inline-block;

  .item{ display: none; }

  .project-item {

    width: 33.333%;
    float: left;
    position: relative;

    .thumbnail, .underlay {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: block;
      text-decoration: none;

      >img {
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      margin: 0;
      opacity: 0;
      background: @orange;
      transition: opacity 0.5s ease-in-out 0s;

      &:hover {
        opacity: 0.5;
      }

      span {
        width: 80%;
        position: absolute;
        bottom: 10%;
        right: 10%;
        font-weight: 700;
        font-size: 1.5em;
        text-align: right;
        color: @white;
        border-bottom: 1px solid @rice;
      }

      .mac, .iphone, .art {
        width: 30px;
        height: 30px;
        display: block;
        float: left;
        margin: 0 .2em 0;
        background: url('../image/icons/imac.png') no-repeat;
      }

      .iphone {
        background: url('../image/icons/iphone.png') no-repeat;
      }

      .art {
        background: url('../image/icons/pencil.png') no-repeat;
      }

    } //.overlay

  } //.project-item

} //.projects

// Project details overlay styling

.popup {
  width: 95%;
  height: 90%;
  display: block;
  margin: 0 2.5%;
  padding: 20px 0;
  position: absolute;
  top: 50px;
  background: @rice;
  z-index: 500;
  visibility: hidden;
  overflow: auto;
  .border-radius(10px);
  .box-shadow(0 0 15px 2px @grey);
  //transition: all 0.5s ease-in-out;

  &.active {
    visibility: visible;
  }

  .close {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: @grey;
    background: @rice;
    position: absolute;
    right: 1%;
    top: 2%;
    text-align: center;
    margin: 0;
    border: 1px solid @grey;
    font-size: 1em;
    line-height: 2em;
    cursor: pointer;
  }
}

.project-details {
  width: 100%;
  height: 90%;
  min-height: 100%;
  padding: 20px 0;

  .project-item{ display: none; }

  .item {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: none;

    &.show {
      display: block;
      //transition: opacity 2s ease-in-out;
    }
  }

  .hero {
    margin: 50px 0;

    > img {
      width: 100%;
      height: auto;
    }
  }

  .project-content {
    width: 90%;
    margin: 0 auto;

    .desc {
      padding: 20px 0;
      text-align: center;
    }

    .display {

      > img {
        width: 100%;
        height: auto;
      }
    }
  }
}


/*---------------------------------------------------------------------------
                                    LIFE
---------------------------------------------------------------------------*/

.life {

  top: 240%;
  background: @orange;

  p { color: #d97a00; }

  .badge {
    background-image: url('../image/badges/teal-badge.png');
  }

}

.love-bubble {

  .bubble {
    .border-radius(100%);
    width: 33%;
    height: 33%;
    margin: 0 0 20px 0;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.3);
    border: 8px solid rgba(0, 0, 0, 0.3);
  }

}

/*---------------------------------------------------------------------------
                                  CLIENT
---------------------------------------------------------------------------*/

.client {

  max-width: 100%;
  height: auto;
  min-height: 400px;
  margin: 50px 0 0;

  .fourth {
    height: 110%;
    margin-top: 10%;
    background-image: url('../image/badges/responsive-badge.png');
  }

}

.client:after {
  width: 75%;
  display: block;
  content: '';
  border-bottom: 2px dotted @grey;
  margin: 30px auto 0;
}

.client-grid {

  width: 70%;
  margin: 0 auto;
  padding: 10% 0;

  >ul {
    list-style: none;
    display: inline-block;
    margin: 0;
  }

  .logo {
    .border-radius(10px);
    float: left;
    width: 12%;
    height: auto;
    margin: 3%;
    padding: 3%;
    border-top: 3px solid @grey;
    border-left: 3px solid @grey;

    img {
      width: 100%;
      height: auto;
    }
  }

}


/*---------------------------------------------------------------------------
                                  CONTACT
---------------------------------------------------------------------------*/

.contact {

  max-width: 100%;
  height: auto;
  min-height: 700px;
  display: inline;

  .fifth {
    background-image: url('../image/badges/design-badge.png');
  }

  .sixth {
    background-image: url('../image/badges/usability-badge.png');
  }

  .content {
    display: table;
    padding: 10% 0;
  }

}

.contact:after {
  width: 75%;
  display: block;
  content: '';
  border-bottom: 2px dotted @grey;
  margin: 80px auto 0;
}

.icon {
  float: right;
  position: relative;
  right: -22px;
}

#contact-form {
  visibility: visible;
  //transition: all 1s ease 0.5s;

  &.hide {
    visibility: hidden;
    transition: all 1s ease 0.5s;
  }
}

.button {
  .border-radius(5px);
  .box-shadow(3px 3px 5px 1px #000000);
  width: 50%;
  height: 30px;
  background: @grey;
  text-align: center;
  margin-top: 20px;
}

.balloons {
  width: 40%;
  max-width: 400px;
  float: left;
  position: relative;
  margin-left: 80px;
  .animation(10s ease-in-out float-up infinite alternate);

  img {
    width: 100%;
    height: auto;
  }

}

.thanks, .sorry {
  width: 50%;
  max-width: 400px;
  margin: 50px 0 0;
  position: absolute;
  visibility: hidden;
  text-align: center;
  //transition: all 1s ease 1.5s;

  &.show {
    visibility: visible;
  }
}

.loader {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  display: none;
  background: url('../image/animations/loader.gif') no-repeat center center;
}


/*---------------------------------------------------------------------------
                                  Footer
---------------------------------------------------------------------------*/

.footer {

  width: 100%;
  height: auto;
  min-height: 500px;
  background: @rice;

  .pencil {
    width: 50%;
    min-width: 950px;
    margin: 0 auto;
    padding: 30px 0 0;

    img { 
      width: 100%;
      height: auto;
    }
  }

  .copyright {
    text-align: center;
    color: @grey;
    padding: 1em 0 0;
  }

}

.social {
  width: 168px;
  list-style: none;
  display: table;
  margin: 0 auto 20px;
  padding: 0;

  >li {
    float: left;
    margin: 0 10px 0;

    img:hover {
      opacity: 0.85;
    }
  }
}

/*---------------------------------------------------------------------------
                                RESPONSIVE
---------------------------------------------------------------------------*/


@media only screen and (max-width: 1024px) {

  .about {

    .content {
      padding: 12% 0 0 !important;
    }

  }

  .overlay {

    span {
      bottom: 2% !important;
      font-size: 1em !important;
    }

  }

  .balloons {
    display: none !important;
  }

  .contact {

    .content {
      width: 50% !important;
    }

  }

  form, .thanks, .sorry {
    width: 100% !important;
  }

  h2 {
    font-size: 3em !important;
    padding: 6em 0 2em !important;
  }

  .second {
    margin-top: -12% !important;
  }

  .fourth {
    margin-top: 20% !important;
  }

}


@media only screen and (max-width : 767px) {

  .about {

    .content {
      padding: 15% 0 0 !important;
    }

  }

  .overlay {

    span {
      bottom: 10% !important;
      font-size: 1.5em !important;
    }

  }

  .badge {
    display: none !important;
  }

  .project-item {
    float: none !important;
    width: 100% !important;
  }

  .client-grid {
    width: 90% !important;

    .logo {
      width: 19% !important;
    }
  }

  h2 {
    font-size: 2.5em !important;
    padding: 8em 0 !important;
  }

  .contact {

    .content {
      width: 72% !important;
    }

    .balloons {
      display: none;
    }

  }

}

@media only screen and (max-width : 640px) {

  .badge {
    display: none;
  }

  h2 {
    font-size: 1.6em !important;
    padding: 9em 0 !important;
  }
  
}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
