h1, h2, h3, h4, h5, h6 {
	font-family: 'Julius Sans One', sans-serif;
}

p, a, span, div, label, input, td {
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 3em;
}