h1, h2, h3, h4, h5, h6 {
	font-family: 'Julius Sans One', sans-serif;
	margin: 0.3em 0;
}

p, a, span, div, label, input, td {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1em;
	color: #ffffff;
	margin: 0 0 1em;
}

.nav { 
	text-decoration: none;
	color: #6a6a6a;
}

.nav:before {
	color: #ffffff;
    content: attr(data-hover);
    position: absolute;
    margin-top: 1px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav:hover:before, a:hover:focus {
	opacity: 0;
	transform: scale(0.9);
}

h1 {
	color: #ffffff;
	font-size: 8em;
	margin: 0;
}